@model TimelineModel

<div class="portfolio-modal modal fade" id="Add_TimelineNode" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" style="margin: 2rem 14rem 2rem 14rem;">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl"></div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 mx-auto">
                        <div class="modal-body">

                            <h2 class="text-uppercase mb-3">Add Timeline Node</h2>

                            <form asp-area="Admin" asp-controller="Timeline" asp-action="Add" method="post" asp-antiforgery="true">
                                <div class="form-group">
                                    <label asp-for="ImageUrl">Image Url</label>
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                    <input asp-for="ImageUrl" class="form-control" type="text" value="" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Date">Date</label>
                                    <span asp-validation-for="Date" class="text-danger"></span>
                                    <input asp-for="Date" class="form-control" asp-format="{0:d}" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Title">Title</label>
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                    <input asp-for="Title" class="form-control" type="text" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Description">Description</label>
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                    <input asp-for="Description" class="form-control" type="text" />
                                </div>
                                <div class="form-group">
                                    <label asp-for="Side">Side</label>
                                    <select asp-for="Side" class="form-control">
                                        <option value="">Left</option>
                                        <option value="timeline-inverted">Right</option>
                                    </select>
                                </div>
                                <button class="btn btn-primary btn-xl text-uppercase" type="submit">Save Changes</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>